{% load static %}
<script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="{% static '/js/chart/chart.js' %}"></script>
<script src="{% static '/js/bootstrap/form_validation.js' %}"></script>
<script src="{% static '/js/header/navbar.js' %}"></script>
<script src="{% static '/js/search/search.js' %}"></script>
<script src="{% static '/js/task/filter_task.js' %}"></script>
<script src="{% static '/js/task/edit_task.js' %}"></script>
<script src="{% static '/js/notification/receive_notification.js' %}"></script>
