<!DOCTYPE html>
<html lang="ar">

{% load static %}

<head>
  {% include "base/head.html" %}
  <title>الصفحة الرئيسية</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Home Page-->
  <main class="px-2" style="margin-top: 80px !important">

    <div class="container-fluid">
      <div class="row px-1">
        <div class="col-md-12">
          <ul class="px-4 statistics">
            <li class="pt-1">
              الموظف
              <a href="#"><b>علي ستار</b></a>
              حصل على اعلى معدل بألشهر الحالي
              والذي هو
              <b>(900)</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row px-1">
        <div class="col-md-12">
          <u class="fw-bold">الاحصائيات:</u>
          <ul class="px-4 statistics">
            <li class="pt-1">عدد المهام: <b>30</b></li>
            <li class="pt-1">مهام منجزة: <b>25</b></li>
            <li class="pt-1">مهام غير منجزة: <b>5</b></li>
            <li class="pt-1">عدد الموظفين: <b>25</b></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-3">
      <div class="row px-1">
        <u class="fw-bold">مخطط المهام:</u>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header fw-bold">شعبة الانظمة</div>
            <div class="card-body">
              <canvas class="chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header fw-bold">الشعبة الفنية</div>
            <div class="card-body">
              <canvas class="chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4">
      <div class="row px-1">
        <div class="col-md-12">
          <u class="fw-bold">احدث المهام:</u>
          <ul class="px-4 statistics">
            <li>
              قام
              <b>امير حاتم</b>
              بتخصيص مهمه
              الى
              <b>علي ستار</b>
              <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                title="تصميم موقع لقسم الحاسبة">
                (معرفة المزيد)
              </button>
            </li>
            <li>
              قام
              <b>بكر هادي</b>
              بتخصيص مهمه
              الى
              <b>انور اكرم</b>
              <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                title="ربط كيبل بألقسم الفني - شعبة المعامل الميكانيكية">
                (معرفة المزيد)
              </button>
            </li>
            <li>
              قام
              <b>بكر هادي</b>
              بتخصيص مهمه
              الى
              <b>علا شامل, مروه محمد</b>
              <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                title="انشاء بريد الكتروني لكل موظفي قسم الحاسبة الالكترونية لغرض نظام ادارة المهام">
                (معرفة المزيد)
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row px-1">
        <div class="col-md-12">
          <p>
            <u class="fw-bold">السجل:</u>
            <a href="#">(الكل)</a>
          </p>
          <ul class="px-4 statistics">
            <li class="pt-1">
              قام
              <b>امير حاتم</b>
              بأنشاء حساب للموظف
              <b>صفا فوزي</b>
            </li>
            <li class="pt-1">
              قام
              <b>امير حاتم</b>
              بتحديث بيانات حسابه
            </li>
            <li class="pt-1">
              قام
              <b>بكر هادي</b>
              بأنشاء حساب للموظف
              <b>محمد قاسم</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>