<!DOCTYPE html>
<html lang="ar">

{% load static %}

<head>
  {% include "base/head.html" %}
  <title>الصفحة الرئيسية</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Home Page-->
  <main class="px-2" style="margin-top: 80px !important">

    <div class="container-fluid">
      <div class="row px-1">
        <div class="col-md-12">
          <u class="fw-bold">الاحصائيات:</u>
          <ul class="px-4 statistics">
            <li class="pt-1">عدد المهام: <b>{{total_tasks}}</b></li>
            <li class="pt-1">مهام منجزة: <b>{{total_achieved}}</b></li>
            <li class="pt-1">مهام غير منجزة: <b>{{total_unachieved}}</b></li>
            <li class="pt-1">عدد الموظفين الكلي:  <b>{{profile.get_all_employees}}</b></li>
          </ul>
        </div>
      </div>
    </div>

    {% if user.is_superuser %}
    <div class="container-fluid mt-4">
      <div class="row px-1">
        <div class="col-md-12">
          <u class="fw-bold">احدث المهام:</u>
          {% if task != 0 %}
          <ul class="px-4 pt-2 statistics">
            {% for task in task.get_last_three %}
              <li class="pt-1">
                قام
                <b>{{task.user.username}}</b>
                بتخصيص مهمه
                ({{task.subject}})
                الى
                {% for emp in task.employees.all %}
                  {% if task.employees.all.count == 1 %}
                    <b>{{emp}}</b>
                  {% else %}
                    <b>{{emp}},</b>
                  {% endif %}
                {% endfor %}
                منذ {{task.created_at | timesince}}
              </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>لا توجد مهام لحد الان</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Change Password Modal-->
    {% include "components/change_password_modal.html" %}
    <!---->

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>