<!DOCTYPE html>
<html lang="ar">

<head>
  {% include "base/head.html" %}
  <title>موظفين الشعبة الفنية</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Employees Page-->
  <main class="mt-4 px-3" style="margin-top: 80px !important">
    <div class="row px-1">
      <div class="col-md-3">
        <label class="fs-6 fw-bold px-1">ابحث:</label>
        <input type="text" id="myInput" onkeyup="search()" placeholder="ابحث عن اسم">
      </div>
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn">انشاء حساب</button>
      </div>
    </div>

    <div class="row px-1">
      <div class="table-responsive">
        <table id="table" class="table" style="width:100%">
          <thead>
            <tr>
              <th style="display: none;"></th>
              <th>اسم الموظف</th>
              <th>البريد الالكتروني</th>
              <th>الشعبة</th>
              <th>نوع الحساب</th>
              <th>حالة الحساب</th>
              <th span="0">تعديل</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="display: none;">1</td>
              <td>انور اكرم</td>
              <td>anwer.akram@outlook.com</td>
              <td>
                <select disabled="true" class="table-division">
                  <option value="الانظمة">الانظمة</option>
                  <option value="الفنية" selected="true">الفنية</option>
                  <option value="الذاتية">الذاتية</option>
                  <option value="ادخال البيانات">ادخال البيانات</option>
                </select>
              </td>
              <td>
                <select disabled="true" class="table-account">
                  <option value="ادمن">ادمن</option>
                  <option value="محرر">محرر</option>
                  <option value="مستخدم" selected="true">مستخدم</option>
                </select>
              </td>
              <td>مفعل</td>
              <td><input type="checkbox" onchange="editUser('انور اكرم')"></td>
              <td style="display: none;">
                <a href="#" id="update-link" class="me-2" onclick="updateUser('انور اكرم')">تحديث</a>
                <a href="#" class="me-2">حذف</a>
              </td>

            </tr>

            <tr>
              <td style="display: none;">2</td>
              <td>علي صادق</td>
              <td>ali1.sadeq@outlook.com</td>
              <td>
                <select disabled="true" class="table-division">
                  <option value="الانظمة">الانظمة</option>
                  <option value="الفنية" selected="true">الفنية</option>
                  <option value="الذاتية">الذاتية</option>
                  <option value="ادخال البيانات">ادخال البيانات</option>
                </select>
              </td>
              <td>
                <select disabled="true" class="table-account">
                  <option value="ادمن">ادمن</option>
                  <option value="محرر">محرر</option>
                  <option value="مستخدم" selected="true">مستخدم</option>
                </select>
              </td>
              <td>مفعل</td>
              <td><input type="checkbox" onchange="editUser('علي صادق')"></td>
              <td style="display: none;">
                <a href="#" id="update-link" class="me-2" onclick="updateUser('علي صادق')">تحديث</a>
                <a href="#" class="me-2">حذف</a>
              </td>
            </tr>

            <tr>
              <td style="display: none;">3</td>
              <td>محمد قاسم</td>
              <td>mohammed1.qassim@outlook.com</td>
              <td>
                <select disabled="true" class="table-division">
                  <option value="الانظمة">الانظمة</option>
                  <option value="الفنية" selected="true">الفنية</option>
                  <option value="الذاتية">الذاتية</option>
                  <option value="ادخال البيانات">ادخال البيانات</option>
                </select>
              </td>
              <td>
                <select disabled="true" class="table-account">
                  <option value="ادمن">ادمن</option>
                  <option value="محرر">محرر</option>
                  <option value="مستخدم" selected="true">مستخدم</option>
                </select>
              </td>
              <td>مفعل</td>
              <td><input type="checkbox" onchange="editUser('محمد قاسم')"></td>
              <td style="display: none;">
                <a href="#" id="update-link" class="me-2" onclick="updateUser('محمد قاسم')">تحديث</a>
                <a href="#" class="me-2">حذف</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" id="user-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 bg-white" id="exampleModalToggleLabel">انشاء حساب</h1>
            <button type="button" class="btn-close me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST">
              <div class="mb-3">
                <label class="form-label fw-bold">اسم المستخدم</label>
                <input type="text" class="form-control" placeholder="محمد علي">
              </div>
              <div class="mb-3">
                <label class="form-label fw-bold">كلمة المرور</label>
                <input type="password" class="form-control" placeholder="******">
              </div>
              <div class="mb-3">
                <label class="form-label fw-bold">البريد الالكتروني</label>
                <input type="email" class="form-control" placeholder="mohammed.ali@outlook.com">
              </div>
              <div class="mb-3">
                <label class="form-label fw-bold">نوع الحساب</label>
                <select class="form-select" aria-label="Default select example">
                  <option value="ادمن">ادمن</option>
                  <option value="محرر">محرر</option>
                  <option value="مستخدم">مستخدم</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary">حفظ</button>
          </div>
        </div>
      </div>

    </div>
  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>