<!DOCTYPE html>
<html lang="en">

  {% load static %}

<head>
  {% include "base/head.html" %}
  <title>الاشعارات</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Notificaitons Page-->
  <main class="px-3" style="margin-top: 80px !important">
    <div class="row px-1">
      <ul class="list-group list-group gap-2">
        <li class="list-group-item border-1">
          <div class="me-1">
            <div class="fw-bold text-danger">تصميم موقع خاص بقسم الحاسبة الالكترونية</div>
            <span class="text-muted" style="font-size: 15.5px !important">2022-10-16</span>
          </div>
          <button class="btn btn-primary btn-sm">تمييز كمقروء</button>
        </li>
        <li class="list-group-item border-1">
          <div class="me-1">
            <div>انشاء ايميلات لكل موظفي قسم الحاسبة الالكترونية</div>
            <span class="text-muted" style="font-size: 15.5px !important">2022-10-10</span>
          </div>
          <span class="mt-2">مقروء</span>
        </li>
        <li class="list-group-item border-1">
          <div class="me-1">
            <div>مشكلة الغرامات الموجودة بقسم الشحن الجوي</div>
            <span class="text-muted" style="font-size: 15.5px !important">2022-08-01</span>
          </div>
          <span class="mt-2">مقروء</span>
        </li>
      </ul>
    </div>
  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>