<!DOCTYPE html>
<html lang="ar">

  {% load static %}

<head>
  {% include "base/head.html" %}
  <title>مهام شعبة الانظمة</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Systems Tasks Page-->
  <main class="mt-4 px-3" style="margin-top: 80px !important">

    <div class="row px-1 mb-3">
      <div class="col-md-3">
        <label class="fs-6 fw-bold px-1">ابحث:</label>
        <input type="text" id="myInput" onkeyup="search()" placeholder="ابحث عن عنوان">
      </div>
      {% if user.is_staff %}
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn" data-bs-toggle="modal" href="#task-modal">انشاء مهمه</button>
      </div>
      {% endif %}
    </div>

    {% if user.is_staff %}
    <div class="row px-1 mt-3">
      <p class="fs-6 fw-bold">فلتر المهام حسب:</p>
    </div>

    <div class="row px-1 py-2 mb-3" style="background: whitesmoke !important;">

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الموظفين:</label>
        <select class="form-select" id="employees">
          <option value="الكل">الكل</option>
          {% for employee in employees %}
            {% if not employee.is_staff %}
            <option value=`{{employee.username}}`>{{employee.username}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الحالة:</label>
        <select class="form-select" id="task-status">
          <option value="منجزة">منجزة</option>
          <option value="غير منجزة">غير منجزة</option>
          <option value="بأنتظار الموافقة">بأنتظار الموافقة</option>
        </select>
      </div>

      <div class="col-md-2 py-4">
        <button class="btn btn-primary filterBtn" onClick="filterTasks()">تحديد</button>
      </div>

    </div>
    {% endif %}

    <div class="row px-1">
      <div class="table-responsive">
        <table class="table tasks-table" id="task-table" style="width:100%">
          <thead>
            <tr>
              <th style="display: none;">كود المهمه</th>
              <th>عنوان المهمه</th>
              <th>الموظفين</th>
              <th>تاريخ البدء</th>
              <th>تاريخ الانتهاء</th>
              {% if user.is_staff %}
              <th>التقييم</th>
              {% endif %}
              <th>استلمت</th>
              <th>الحالة</th>
              {% if user.is_staff %}
              <th span="0">تعديل</th>
              {% endif %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              {% if user.is_staff %}
              <tr>
                <td style="display: none;">{{task.id}}</td>
                <td>{{task.subject}}</td>
                <td>
                  <select class="form-select task-employees" multiple="true">
                    {% for employee in employees %}
                      {% if not employee.is_staff %}
                        {% if employee in task.employees.all %}
                        <option value=`{{employee.username}}` selected="true">{{employee.username}}</option>
                        {% else %}
                        <option value=`{{employee.username}}`>{{employee.username}}</option>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td>{{task.start_date}}</td>
                {% now "Y-m-d" as todays_date %}
                {% if todays_date > task.end_date %}
                  <td class="fw-bold text-danger">
                    {{task.end_date}}
                  </td>
                {% else %}
                <td class="fw-bold text-success">
                  {{task.end_date}}
                </td>
                {% endif %}
                <td>
                  <select disabled="true" class="task-rate">
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                  </select>
                </td>
                <td>
                  {% if task.received %}
                  نعم
                  {% else %}
                  كلا
                  {% endif %}
                </td>
                {% if task.status == "منجزة" %}
                <td class="fw-bold text-success">{{task.status}}</td>
                {% endif %}
                {% if task.status == "غير منجزة" %}
                <td class="fw-bold text-danger">{{task.status}}</td>
                {% endif %}
                {% if task.status == "بأنتظار الموافقة" %}
                <td class="fw-bold text-warning">{{task.status}}</td>
                {% endif %}
                <td><input type="checkbox" onchange="editTask(`{{task.id}}`)"></td>
                <td style="display: none;">
                  <a href="#">تحديث</a>
                  <a href="#" class="me-2">حذف</a>
                  <a href="#" class="me-2" style="display: none;">تأكيد</a>
                </td>
              </tr>
              {% else %}
                {% if user in task.employees.all %}
                <tr>
                  <td style="display: none;">{{task.id}}</td>
                  <td>{{task.subject}}</td>
                  <td>
                  {% for employee in task.employees.all %}
                  {{employee.username}}
                  {% endfor %}
                  </td>
                  <td>{{task.start_date}}</td>
                  {% now "Y-m-d" as todays_date %}
                  {% if todays_date > task.end_date %}
                    <td class="fw-bold text-danger">
                      {{task.end_date}}
                    </td>
                  {% else %}
                  <td class="fw-bold text-success">
                    {{task.end_date}}
                  </td>
                  {% endif %}
                  <td>
                    {% if task.received %}
                    نعم
                    {% else %}
                    كلا
                    {% endif %}
                  </td>
                  {% if task.status == "منجزة" %}
                  <td class="fw-bold text-success">{{task.status}}</td>
                  {% endif %}
                  {% if task.status == "غير منجزة" %}
                  <td class="fw-bold text-danger">{{task.status}}</td>
                  {% endif %}
                  {% if task.status == "بأنتظار الموافقة" %}
                  <td class="fw-bold text-warning">{{task.status}}</td>
                  {% endif %}
                  <td>
                    <a href="#" class="me-2">استلمت</a>
                    <a href="#" class="me-2">انجزت</a>
                  </td>
                </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!--Task Modal-->
    {% if user.is_staff %}
      {% include "components/task_modal.html" %}
    {% endif %}
    <!---->

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>