<!DOCTYPE html>
<html lang="ar">

  {% load static %}

<head>
  {% include "base/head.html" %}
  <title>موظفين شعبة الانظمة</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Employees Page-->
  <main class="mt-4 px-3" style="margin-top: 80px !important">

    <center>
      <div class="col-md-3">
        {% for message in messages %}
          {% if message and message.tags == "error" %}
          <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between p-2" id="alert_form"
            role="alert">
            <button type="button" style="margin-top: 5px;" class="alert-close ms-1" data-bs-dismiss="alert" aria-label="Close"></button>
            <label style="font-size: 16px;">{{message}}</label>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between p-2" id="alert_form"
            role="alert">
            <button type="button" style="margin-top: 5px;" class="alert-close ms-1" data-bs-dismiss="alert" aria-label="Close"></button>
            {{message}}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </center>

    <div class="row px-1">
      <div class="col-md-3">
        <label class="fs-6 fw-bold px-1">ابحث:</label>
        <input type="text" id="myInput" onkeyup="search()" placeholder="ابحث عن اسم">
      </div>
      {% if user.is_staff and not user.is_superuser %}
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn" data-bs-toggle="modal" href="#user-modal">انشاء حساب</button>
      </div>
      {% endif %}
    </div>
    <div class="row px-1 mt-2">
      <div class="table-responsive">
        <table id="table" class="table" style="width:100%">
          <thead>
            <tr>
              <th style="display: none;"></th>
              <th>اسم الموظف</th>
              <th>البريد الالكتروني</th>
              <th>الشعبة</th>
              <th>نوع الحساب</th>
              <th>حالة الحساب</th>
              {% if request.user.is_staff %}
              <th span="0">تعديل</th>
              {% endif %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
              <tr>
                <td style="display: none;">1</td>
                <td>{{employee.username}}</td>
                <td>{{employee.email}}</td>
                <td>
                  {{employee.profile.division}}
                </td>
                <td>
                  {% if user.is_staff %}
                    {% if employee.is_staff %}
                    ادمن
                    {% else %}
                    مستخدم
                    {% endif %}
                  {% else %}
                    {{employee.profile.account}}
                  {% endif %}
                </td>
                <td>مفعل</td>
                {% if user.is_staff %}
                <td><input type="checkbox" onchange="editUser(`{{employee.username}}`)"></td>
                <td style="display: none;">
                  <a href="#" id="update-link" class="me-2" onclick="updateUser(`{{employee.username}}`)">تحديث</a>
                  <a href="#" class="me-2">حذف</a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!--User Modal-->
    {% if user.is_staff and not user.is_superuser %}
      {% include "components/user_modal.html" %}
    {% endif %}
    <!---->

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>