<!DOCTYPE html>
<html lang="ar">

  {% load static %}

<head>
  {% include "base/head.html" %}
  <title>مهام شعبة الانظمة</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Systems Tasks Page-->
  <main class="mt-4 px-3" style="margin-top: 80px !important">

    <div class="row px-1 mb-2">
      <div class="col-md-3">
        <label class="fs-6 fw-bold px-1">ابحث:</label>
        <input type="text" id="myInput" onkeyup="search()" placeholder="ابحث عن عنوان">
      </div>
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn" data-bs-toggle="modal" href="#task-modal">انشاء مهمه</button>
      </div>
    </div>

    <div class="row px-1 mt-3">
      <p class="fs-6 fw-bold">فلتر المهام حسب:</p>
    </div>

    <div class="row px-1 py-2 mb-3" style="background: whitesmoke !important;">

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الموظفين:</label>
        <select class="form-select" id="employees">
          <option value="الكل">الكل</option>
          <option value="علي ستار">علي ستار</option>
          <option value="روز حسين">روز حسين</option>
          <option value="محمد ضياء">محمد ضياء</option>
          <option value="شيماء حسين">شيماء حسين</option>
          <option value="صفا فوزي">صفا فوزي</option>
          <option value="امير حاتم">امير حاتم</option>
          <option value="تيسير سامي">تيسير سامي</option>
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الحالة:</label>
        <select class="form-select" id="task-status">
          <option value="منجزة">منجزة</option>
          <option value="غير منجزة">غير منجزة</option>
          <option value="بأنتظار الموافقة">بأنتظار الموافقة</option>
        </select>
      </div>

      <div class="col-md-2 py-4">
        <button class="btn btn-primary filterBtn" onClick="filterTasks()">تحديد</button>
      </div>

    </div>
    </div>


    <div class="row px-1">
      <div class="table-responsive">
        <table class="table tasks-table" id="task-table" style="width:100%">
          <thead>
            <tr>
              <th style="display: none;">كود المهمه</th>
              <th>عنوان المهمه</th>
              <th>الموظفين</th>
              <th>تاريخ البدء</th>
              <th>تاريخ الانتهاء</th>
              <th>التقييم</th>
              <th>استلمت</th>
              <th>الحالة</th>
              <th span="0">تعديل</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="display: none;">1</td>
              <td>مشكلة الغرامات الخاصة بقسم الشحن الجوي</td>
              <td>
                <select class="form-select task-employees" multiple="true">
                  <option value="علي ستار" selected="true">علي ستار</option>
                  <option value="روز حسين">روز حسين</option>
                  <option value="محمد ضياء">محمد ضياء</option>
                  <option value="شيماء حسين">شيماء حسين</option>
                  <option value="صفا فوزي">صفا فوزي</option>
                  <option value="امير حاتم">امير حاتم</option>
                  <option value="تيسير سامي">تيسير سامي</option>
                </select>
              </td>
              <td>2022-09-10</td>
              <td style="color: red; font-weight: bold;">2022-10-10</td>
              <td>
                <select disabled="true" class="task-rate">
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                  <option value="80">80</option>
                  <option value="100">100</option>
                </select>
              </td>
              <td>نعم</td>
              <td style="color: green; font-weight: bold;">منجزة</td>
              <td><input type="checkbox" onchange="editTask(1)"></td>
              <td style="display: none;">
                <a href="#">تحديث</a>
                <a href="#" class="me-2">حذف</a>
                <a href="#" class="me-2" style="display: none;">استلمت</a>
                <a href="#" class="me-2" style="display: none;">انجزت</a>
                <a href="#" class="me-2" style="display: none;">تأكيد</a>
              </td>
            </tr>

            <tr>
              <td style="display: none;">2</td>
              <td>تصميم موقع خاص بقسم الحاسبة الالكترونية</td>
              <td>
                <select class="form-select task-employees" multiple="true">
                  <option value="علي ستار" selected="true">علي ستار</option>
                  <option value="روز حسين">روز حسين</option>
                  <option value="محمد ضياء">محمد ضياء</option>
                  <option value="شيماء حسين">شيماء حسين</option>
                  <option value="صفا فوزي">صفا فوزي</option>
                  <option value="امير حاتم">امير حاتم</option>
                  <option value="تيسير سامي">تيسير سامي</option>
                </select>
              </td>
              <td>2022-10-25</td>
              <td>2022-11-16</td>
              <td>
                <select disabled="true" class="task-rate">
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                  <option value="80">80</option>
                  <option value="100">100</option>
                </select>
              </td>
              <td>نعم</td>
              <td>غير منجزة</td>
              <td><input type="checkbox" onchange="editTask(2)"></td>
              <td style="display: none;">
                <a href="#">تحديث</a>
                <a href="#" class="me-2">حذف</a>
                <a href="#" class="me-2" style="display: none;">استلمت</a>
                <a href="#" class="me-2" style="display: none;">انجزت</a>
                <a href="#" class="me-2" style="display: none;">تأكيد</a>
              </td>
            </tr>
            <tr>
              <td style="display: none;">3</td>
              <td>انشاء ايميلات لكل موظفي قسم الحاسبة الالكترونية</td>
              <td>
                <select class="form-select task-employees" multiple="true">
                  <option value="علي ستار" selected="true">علي ستار</option>
                  <option value="روز حسين" selected="true">روز حسين</option>
                  <option value="محمد ضياء">محمد ضياء</option>
                  <option value="شيماء حسين">شيماء حسين</option>
                  <option value="صفا فوزي">صفا فوزي</option>
                  <option value="امير حاتم">امير حاتم</option>
                  <option value="تيسير سامي">تيسير سامي</option>
                </select>
              </td>
              <td>2022-10-22</td>
              <td>2022-11-16</td>
              <td>
                <select disabled="true" class="task-rate">
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                  <option value="80">80</option>
                  <option value="100">100</option>
                </select>
              </td>
              <td>نعم</td>
              <td style="font-weight: bold; color: #D35400">بأنتظار الموافقة</td>
              <td><input type="checkbox" onchange="editTask(3)"></td>
              <td style="display: none;">
                <a href="#">تعديل</a>
                <a href="#" class="me-2">حذف</a>
                <a href="#" class="me-2" style="display: none;">استلمت</a>
                <a href="#" class="me-2" style="display: none;">انجزت</a>
                <a href="#" class="me-2" style="display: none;">تأكيد</a>
              </td>
            </tr>
            <tr>
              <td style="display: none;">4</td>
              <td>تعديل على نظام الرواتب الخاص بألقسم المالي</td>
              <td>
                <select class="form-select task-employees" multiple="true">
                  <option value="علي ستار">علي ستار</option>
                  <option value="روز حسين" selected="true">روز حسين</option>
                  <option value="محمد ضياء">محمد ضياء</option>
                  <option value="شيماء حسين">شيماء حسين</option>
                  <option value="صفا فوزي">صفا فوزي</option>
                  <option value="امير حاتم">امير حاتم</option>
                  <option value="تيسير سامي">تيسير سامي</option>
                </select>
              </td>
              <td>2022-10-16</td>
              <td>2022-10-21</td>
              <td>
                <select disabled="true" class="task-rate">
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                  <option value="80">80</option>
                  <option value="100">100</option>
                </select>
              </td>
              <td>نعم</td>
              <td>غير منجزة</td>
              <td><input type="checkbox" onchange="editTask(4)"></td>
              <td style="display: none;">
                <a href="#">تحديث</a>
                <a href="#" class="me-2">حذف</a>
                <a href="#" class="me-2" style="display: none;">استلمت</a>
                <a href="#" class="me-2" style="display: none;">انجزت</a>
                <a href="#" class="me-2" style="display: none;">تأكيد</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--Task Modal-->
    {% include "components/task_modal.html" %}
    <!---->

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>