<!DOCTYPE html>
<html lang="ar">

  {% load static %}

<head>
  {% include "base/head.html" %}
  <title>ﻣﻬﺎﻡ ﺷﻌﺒﺔ اﻻﻧﻈﻤﺔ</title>
</head>

<body>
  
  <!--Navbar-->
  {% include "components/navbar.html" %}
  <!---->

  <!--Systems Tasks Page-->
  <main class="mt-4 px-3" style="margin-top: 80px !important">

    <center>
      <div class="col-md-3">
        {% for message in messages %}
          {% if message and message.tags == "error" %}
          <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between p-2" id="alert_form"
            role="alert">
            <button type="button" style="margin-top: 5px;" class="alert-close ms-1" data-bs-dismiss="alert" aria-label="Close"></button>
            <label style="font-size: 16px;">{{message}}</label>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between p-2" id="alert_form"
            role="alert">
            <button type="button" style="margin-top: 5px;" class="alert-close ms-1" data-bs-dismiss="alert" aria-label="Close"></button>
            {{message}}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </center>

    {% if user.is_staff %}
    <div class="row px-1 mb-3">
      <div class="col-md-3">
        <label class="fs-6 fw-bold px-1">اﺑﺤﺚ:</label>
        <input type="text" id="myInput" onkeyup="search()" placeholder="اﺑﺤﺚ ﻋﻦ ﻋﻨﻮاﻥ">
      </div>
      {% if user.is_staff and not user.is_superuser %}
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn" data-bs-toggle="modal" href="#task-modal">اﻧﺸﺎء ﻣﻬﻤﻪ</button>
      </div>
      {% endif %}
      
      {% if user.is_superuser %}
      <div class="col-md-2 py-4">
        <button class="btn btn-primary createTaskBtn" data-bs-toggle="modal" href="#director-modal">توجيه</button>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if user.is_staff %}
    <div class="row px-1 mt-3">
      <p class="fs-6 fw-bold">حدد اﻟﻤﻬﺎﻡ ﺣﺴﺐ:</p>
    </div>

    <div class="row px-1 py-2 mb-3" style="background: whitesmoke !important;">

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الموظفين:</label>
        <select class="form-select" id="employees">
          <option value="الكل">الكل</option>
          {% for employee in employees %}
            {% if not employee.is_staff %}
            <option value=`{{employee.username}}`>{{employee.username}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col-md-2 mb-3">
        <label class="fs-6 fw-bold px-1">الحالة:</label>
        <select class="form-select" id="task-status">
          <option value="منجزة">منجزة</option>
          <option value="غير منجزة">غير منجزة</option>
          <option value="بأنتظار الموافقة">بأنتظار الموافقة</option>
        </select>
      </div>

      <div class="col-md-2 py-4">
        <button class="btn btn-primary filterBtn" onclick="filterTasks()">ﺗﺤﺪﻳﺪ</button>
      </div>

    </div>
    {% endif %}

    <div class="row px-1">
      {% if tasks != "[]" %}
      <div class="table-responsive">
        <table class="table tasks-table" id="task-table" style="width:100%">
          <thead>
            <tr>
              <th style="display: none;">ﻛﻮﺩ اﻟﻤﻬﻤﻪ</th>
              <th>ﻋﻨﻮاﻥ اﻟﻤﻬﻤﻪ</th>
              <th>اﻟﻤﻮﻇﻔﻴﻦ</th>
              <th>ﺗﺎﺭﻳﺦ اﻟﺒﺪء</th>
              <th>ﺗﺎﺭﻳﺦ اﻻﻧﺘﻬﺎء</th>
              <th>اﺳﺘﻠﻤﺖ</th>
              <th>اﻟﺤﺎﻟﺔ</th>
              {% if user.is_staff and not user.is_superuser %}
              <th span="0">تفعيل</th>
              {% endif %}
              <th></th>
            </tr>
          </thead>
          <tbody id="tasks-body">
            {% for task in tasks %}
              {% if user.is_staff %}
              <tr>
                <td style="display: none;">{{task.id}}</td>
                <td>{{task.subject}}</td>
                <td>
                  <select class="form-select task-employees" multiple="true">
                    {% for employee in employees %}
                      {% if not employee.is_staff %}
                        {% if employee in task.employees.all %}
                        <option value=`{{employee.username}}` selected="true">{{employee.username}}</option>
                        {% else %}
                        <option value=`{{employee.username}}`>{{employee.username}}</option>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td>{{task.start_date}}</td>
                {% now "Y-m-d" as todays_date %}
                {% if todays_date > task.end_date %}
                  <td class="fw-bold text-danger">
                    {{task.end_date}}
                  </td>
                {% else %}
                <td class="fw-bold text-success">
                  {{task.end_date}}
                </td>
                {% endif %}
                <td>
                  {% if task.received %}
                  ﻧﻌﻢ
                  {% else %}
                  ﻛﻼ
                  {% endif %}
                </td>
                {% if task.status == "منجزة" %}
                <td class="fw-bold text-success">{{task.status}}</td>
                {% endif %}
                {% if task.status == "غير منجزة" %}
                <td class="fw-bold text-danger">{{task.status}}</td>
                {% endif %}
                {% if task.status == "بأنتظار الموافقة" %}
                <td class="fw-bold text-primary">{{task.status}}</td>
                {% endif %}
                {% if task.status != "منجزة" and not user.is_superuser %}
                <td><input type="checkbox" onchange="editTask(`{{task.id}}`)"></td>
                {% endif %}
                <td style="display: none;">
                  {% if task.status == "غير منجزة"  %}
                  <a href="/tasks/update/{{task.id}}">ﺗﺤﺪﻳﺚ</a>
                  {% endif %}
                  {% if task.status == "بأنتظار الموافقة" %}
                  <a href="/tasks/confirm/{{task.id}}" class="me-2">تأكيد</a>
                  {% endif %}
                  {% if task.status == "غير منجزة" %}
                  <a href="/tasks/delete/{{task.id}}" class="me-2">حذف</a>
                  {% endif %}
                </td>
              </tr>
              <!-- when you're a normal user -->
              {% else %}
                {% if user in task.employees.all %}
                <tr>
                  <td style="display: none;">{{task.id}}</td>
                  <td>{{task.subject}}</td>
                  <td>
                  {% for employee in task.employees.all %}
                  {{employee.username}}
                  {% endfor %}
                  </td>
                  <td>{{task.start_date}}</td>
                  {% now "Y-m-d" as todays_date %}
                  {% if todays_date > task.end_date %}
                    <td class="fw-bold text-danger">
                      {{task.end_date}}
                    </td>
                  {% else %}
                  <td class="fw-bold text-success">
                    {{task.end_date}}
                  </td>
                  {% endif %}
                  <td>
                    {% if task.received %}
                    ﻧﻌﻢ
                    {% else %}
                    ﻛﻼ
                    {% endif %}
                  </td>
                  {% if task.status == "منجزة" %}
                  <td class="fw-bold text-success">{{task.status}}</td>
                  {% endif %}
                  {% if task.status == "غير منجزة" %}
                  <td class="fw-bold text-danger">{{task.status}}</td>
                  {% endif %}
                  {% if task.status == "بأنتظار الموافقة" %}
                  <td class="fw-bold text-primary">{{task.status}}</td>
                  {% endif %}
                  <td>
                    {% if not task.received %}
                    <a href="/tasks/receive/{{task.id}}" class="me-2">استلمت</a>
                    {% endif %}
                    {% if task.status == "غير منجزة"  %}
                    <a href="/tasks/achieve/{{task.id}}" class="me-2">انجزت</a>
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>لا توجد مهام حالياً</p>
      {% endif %}
    </div>

    <!--Task Modal-->
    {% if user.is_staff %}
      {% include "components/task_modal.html" %}
    {% endif %}
    <!---->

     <!-- Director Modal-->
     {% if user.is_superuser %}
     {% include "components/director_modal.html" %}
     {% endif %}
     <!---->

  </main>
  <!---->

  {% include "base/script.html" %}

</body>

</html>