<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand p-0 d-flex justify-content-center align-items-center gap-2" href="/">
        <img src="https://www.svgrepo.com/show/315133/stack.svg" alt="Logo" width="30" height="35"
          class="d-inline-block align-text-top">
        نظام ادارة المهام
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">الرئيسية</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" aria-current="page" href="/employees/">الموظفين</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" aria-current="page" href="/tasks/">المهام</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="#reports">التقارير</a>
          </li>
          {% endif %}
          {% if not user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-start align-items-center gap-1" href="/notifications/">
              الاشعارات
              {% if unreadable != 0 %}
              <span class="badge bg-danger">
                {{unreadable}}
              </span>
              {% endif %}
            </a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#user-dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              اهلاً, <b style="color: black">{{user.username}}</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile/{{user.username}}">الملف الشخصي</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" href="#change-password-modal">تغيير كلمة المرور</a></li>
              <li><a class="dropdown-item" href="/logout/">تسجيل الخروج</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>