:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 54px;
  --mainColor: #3498DB;
  --primaryHoverColor: #2d7eb4;
  --secondaryColor: white;
  --hideOverflowX: hidden;
  --primaryFont: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primaryFont);
  overflow-x: var(--hideOverflowX);
  overflow-y: scroll;
}

.navbar,
.row {
  direction: rtl !important;
  font-size: 17px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.navbar-nav {
  gap: 15px !important;
}

.active {
  font-weight: bold !important;
}

.dropdown-menu {
  text-align: right;
}

.dropdown-menu>li {
  padding: 2px 0px !important;
}

.badge {
  font-size: 11.4px !important;
}

.table td,
.table th {
  min-width: 120px !important;
}

.tasks-table thead tr th:nth-child(1) {
  width: 350px !important;
}

.tasks-table thead tr th:nth-child(3) {
  width: 180px !important;
}

.fa-print,
.fa-file-excel {
  color: #444;
  font-size: 15px;
}

.excelBtn,
.printBtn {
  background: #fff !important;
  border: 1.2px solid #ccc;
  border-radius: 3px;
  padding: 3px 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.excelBtn {
  margin-right: 10px;
}

#myInput {
  width: 100%;
  font-size: 15px;
  padding: 7px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 3px;
}

select option {
  text-align: right !important;
}

.filterBtn {
  width: 5rem;
}

.createTaskBtn {
  width: 6rem;
}

.modal {
  direction: rtl;
}

.btn-close {
  position: absolute;
  left: 5px;
}

textarea {
  resize: none;
}

.input-group-text {
  padding: 0 !important;
  margin-top: 10px !important;
  cursor: pointer;
  margin-right: -25px;
  z-index: -1 !important;
}

.fa-calendar {
  z-index: 9999 !important;
  color: #767676;
}

.fa-calendar:hover {
  color: black;
}

#notifications-table thead th {
  border: none !important;
  padding-bottom: 20px !important;
}

#notifications-table tbody tr td {
  border-bottom: none !important;
}

.list-group-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  border-radius: 5px !important;
}

.table-account,
.table-division,
.task-rate,
.admins-select {
  border: none;
}

.task-employees option {
  color: #767676;
  padding-top: 3px !important;
}

.task-employees option:checked {
  color: black !important;
  font-weight: bold;
  background: rgb(221, 221, 221) !important;
}


/* ========= Login Page ========= */
.wrapper {
  background-color: white !important;
  direction: rtl;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.login-label {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}

.alert {
  font-size: 0.9rem !important;
}

.alert-close {
  box-sizing: content-box;
  width: 0.25em;
  height: 0.25em;
  margin: 2px auto;
  margin-right: 3px;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
}

.login-container {
  width: 320px;
  height: auto;
}

/* ============================== */

@media (min-width: 300px) and (max-width: 599px) {
  .navbar-brand {
    margin-right: 0px !important;
  }

  .navbar-nav {
    gap: 5px !important;
  }

  .navbar-collapse {
    background: #eee !important;
    margin-top: 10px;
  }

  .dropdown-menu>li {
    padding: 5px 0px !important;
  }

  .filterBtn,
  .createTaskBtn {
    width: 100% !important;
  }

  .list-group-item {
    display: flex !important;
    justify-content: space-between;
    align-items: start !important;
    flex-direction: column !important;
    gap: 10px;
  }

  .login-container {
    box-shadow: none;
  }

}